<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rover0">
  <xacro:arg name="prefix" default="" />

  <xacro:include filename="$(find rover0_description)/urdf/rover0.materials.xacro" />
  <xacro:include filename="$(find rover0_description)/urdf/rover0_description.urdf.xacro" />

  <xacro:call macro="rover0" prefix="$(arg prefix)" />
</robot>
