[submodule "libs/micro_ros_raspberrypi_pico_sdk"]
	path = libs/micro_ros_raspberrypi_pico_sdk
	url = git@github.com:micro-ROS/micro_ros_raspberrypi_pico_sdk.git
[submodule "modules/teleop/src/thirdparty/camera_ros"]
	path = modules/teleop/src/thirdparty/camera_ros
	url = git@github.com:christianrauch/camera_ros.git
