<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rover0">
  <xacro:arg name="prefix" default="" />

  <xacro:include filename="$(find rover0_description)/urdf/rover0_description.urdf.xacro" />
  <xacro:include filename="$(find rover0_description)/urdf/rover0.materials.xacro" />
  <xacro:include filename="$(find rover0_description)/ros2_control/rover0.ros2_control.xacro" />
  <xacro:include filename="$(find rover0_gz_description)/urdf/rover0_gz_description.urdf.xacro" />

  <xacro:rover0 prefix="$(arg prefix)" />
  <xacro:gz_rover0 prefix="$(arg prefix)" />

  <xacro:rover0_ros2_control name="Rover0" prefix="$(arg prefix)">
    <xacro:property name="hardware_system">
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </xacro:property>
  </xacro:rover0_ros2_control>

</robot>
