<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="rover0_ros2_control" params="name prefix">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>rover0_hardware_interface/Rover0HardwareInterface</plugin>
        <param name="front_left_wheel_joint_name">front_left_wheel_joint</param>
        <param name="front_right_wheel_joint_name">front_right_wheel_joint</param>
        <param name="rear_left_wheel_joint_name">rear_left_wheel_joint</param>
        <param name="rear_right_wheel_joint_name">rear_right_wheel_joint</param>
        <param name="imu_sensor_name">imu_sensor</param>
        <param name="serial_port">/dev/ttyUSB0</param>
        <param name="encoder_tics_per_revolution">64</param>
      </hardware>
    </ros2_control>

  </xacro:macro>

</robot>